<div class="container">
  <br />
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" novalidate>
    <label for="inputEmail4">Name</label>
    <div class="form-row">
      <div class="form-group col-md-6">
        <input
          type="name"
          class="form-control"
          formControlName="firstname"
          id="inputEmail4"
          placeholder="First Name"
        />
        <small *ngIf="!firstname.invalid || firstname.untouched"
          >First Name</small
        >
        <div *ngIf="!firstname.valid && (firstname.dirty || firstname.touched)">
          <div style="color: red" [hidden]="!firstname.errors.required">
            First Name is required
          </div>
          <div style="color: red" [hidden]="!firstname.errors.maxlength">
            The maximum length is 32
          </div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <input
          type="name"
          class="form-control"
          formControlName="lastname"
          id="inputPassword4"
          placeholder="Last Name"
        />
        <small *ngIf="!lastname.invalid || lastname.untouched">Last Name</small>
        <div *ngIf="!lastname.valid && (lastname.dirty || lastname.touched)">
          <div style="color: red" [hidden]="!lastname.errors.required">
            LastName is required
          </div>
          <div style="color: red" [hidden]="!lastname.errors.maxlength">
            The maximum length is 32
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">E-mail</label>
        <input
          type="email"
          class="form-control"
          formControlName="email"
          name="email"
          placeholder="ex : myname@example.com"
        />
        <div *ngIf="!email.valid && (email.dirty || email.touched)">
          <div style="color: red" [hidden]="!email.errors.required">
            email is required
          </div>
          <div style="color: red" [hidden]="!email.errors.email">
            email is invalid
          </div>
        </div>
      </div>
    </div>
    <label for="inputEmail4">Phone Number</label>
    <div class="form-row">
      <div class="form-group col-md-2">
        <input
          class="form-control"
          name="areaCode"
          formControlName="areaCode"
        />
        <small *ngIf="!areaCode.invalid || areaCode.untouched">Area Code</small>
        <div *ngIf="!areaCode.valid && (areaCode.dirty || areaCode.touched)">
          <div style="color: red" [hidden]="!areaCode.errors.required">
            areaCode is required
          </div>
          <div style="color: red" [hidden]="!areaCode.errors.pattern">
            area code must be a number
          </div>
        </div>
      </div>
      <div class="form-group col-md-4">
        <input
          class="form-control"
          id="inputEmail4"
          name="phoneNumber"
          formControlName="phoneNumber"
        />
        <small *ngIf="!phoneNumber.invalid || phoneNumber.untouched"
          >Phone Number</small
        >
        <div
          *ngIf="
            !phoneNumber.valid && (phoneNumber.dirty || phoneNumber.touched)
          "
        >
          <div style="color: red" [hidden]="!phoneNumber.errors.required">
            phone number is required
          </div>
          <div style="color: red" [hidden]="!phoneNumber.errors.pattern">
            phone number must be a number
          </div>
        </div>
      </div>
    </div>
    <!-- <div formGroupName="parentPassword"> -->
    <label for="inputEmail4">Password</label>
    <div class="form-row">
      <div class="form-group col-md-6">
        <input
          type="password"
          class="form-control"
          formControlName="password"
        />
        <small *ngIf="!password.invalid || password.untouched">Password</small>
        <div *ngIf="!password.valid && (password.dirty || password.touched)">
          <div style="color: red" [hidden]="!password.errors.required">
            Password is required
          </div>
          <div style="color: red" [hidden]="!password.errors.minlength">
            Password must be at least 8 digits
          </div>
          <div style="color: red" [hidden]="!password.errors.maxlength">
            Password can't exceed 128 digits
          </div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <input
          type="password"
          class="form-control"
          formControlName="confirmPassword"
        />
        <small *ngIf="!confirmPassword.invalid || confirmPassword.untouched"
          >Confirm Password</small
        >
        <div
          *ngIf="
            !confirmPassword.valid &&
            (confirmPassword.dirty || confirmPassword.touched)
          "
        >
          <div style="color: red" [hidden]="!confirmPassword.errors.required">
            Confirm Password is required
          </div>
          <div style="color: red" [hidden]="!confirmPassword.errors.minlength">
            Confirm Password must be at least 8 digits
          </div>
          <div style="color: red" [hidden]="!confirmPassword.errors.maxlength">
            Confirm Password can't exceed 128 digits
          </div>
          <div
            style="color: red"
            [hidden]="!confirmPassword.errors.mismatchPassword"
          >
            Confirm Password doesn't match with Password
          </div>
        </div>
      </div>
    </div>
    <!-- </div> -->
    <label for="inputAddress">Address</label>
    <div class="form-group">
      <input type="text" class="form-control" formControlName="streetAddress" />
      <small *ngIf="!streetAddress.invalid || streetAddress.untouched"
        >Street Address</small
      >
      <div
        *ngIf="
          !streetAddress.valid && (streetAddress.dirty || streetAddress.touched)
        "
      >
        <div style="color: red" [hidden]="!streetAddress.errors.required">
          street address is required
        </div>
      </div>
    </div>
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        formControlName="streetAddress2"
      />
      <small *ngIf="!streetAddress2.invalid || streetAddress2.untouched"
        >Street Address Line 2</small
      >
      <div
        *ngIf="
          !streetAddress2.valid &&
          (streetAddress2.dirty || streetAddress2.touched)
        "
      >
        <div style="color: red" [hidden]="!streetAddress2.errors.required">
          street address line 2 is required
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <input type="text" class="form-control" formControlName="city" />
        <small *ngIf="!city.invalid || city.untouched"
          >Street Address Line 2</small
        >
        <div *ngIf="!city.valid && (city.dirty || city.touched)">
          <div style="color: red" [hidden]="!city.errors.required">
            city is required
          </div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <input
          type="text"
          class="form-control"
          formControlName="stateProvince"
        />
        <small *ngIf="!stateProvince.invalid || stateProvince.untouched"
          >Street Address Line 2</small
        >
        <div
          *ngIf="
            !stateProvince.valid &&
            (stateProvince.dirty || stateProvince.touched)
          "
        >
          <div style="color: red" [hidden]="!stateProvince.errors.required">
            State/Province is required
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <input type="text" class="form-control" formControlName="zipCode" />
        <small *ngIf="!zipCode.invalid || zipCode.untouched"
          >Postal / Zipcode</small
        >
        <div *ngIf="!zipCode.valid && (zipCode.dirty || zipCode.touched)">
          <div style="color: red" [hidden]="!zipCode.errors.required">
            Postal / Zipcode is required
          </div>
          <div style="color: red" [hidden]="!zipCode.errors.pattern">
            Postal / Zipcode must be a number
          </div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <select formControlName="country" class="form-control">
          <option value="" disabled>Please choose an option</option>
          <option *ngFor="let country of countryName" [ngValue]="countryName">
            {{ country }}
          </option>
        </select>
        <small *ngIf="!country.invalid || country.untouched">Country</small>
        <div *ngIf="!country.valid && (country.dirty || country.touched)">
          <div style="color: red" [hidden]="!country.errors.required">
            Country is required
          </div>
        </div>
      </div>
    </div>
    <label for="inputState">Birth Date</label>
    <div class="form-row">
      <div class="form-group col-md-4">
        <select id="inputState" class="form-control" formControlName="month">
          <option value="" disabled>Please choose an option</option>
          <option *ngFor="let month of monthName" [ngValue]="city">
            {{ month }}
          </option>
        </select>
        <small *ngIf="!month.invalid || month.untouched">Month</small>
        <div *ngIf="!month.valid && (month.dirty || month.touched)">
          <div style="color: red" [hidden]="!month.errors.required">
            Month is required
          </div>
        </div>
      </div>
      <div class="form-group col-md-4">
        <select id="inputState" class="form-control" formControlName="date">
          <option value="" disabled>Please choose an option</option>
          <option *ngFor="let date of dateNumber" [ngValue]="dateNumber">
            {{ date }}
          </option>
        </select>
        <small *ngIf="!date.invalid || date.untouched">Date</small>
        <div *ngIf="!date.valid && (date.dirty || date.touched)">
          <div style="color: red" [hidden]="!date.errors.required">
            Date is required
          </div>
        </div>
      </div>
      <div class="form-group col-md-4">
        <select id="inputState" class="form-control" formControlName="year">
          <option value="" disabled>Please choose an option</option>
          <option *ngFor="let year of yearNumber" [ngValue]="yearNumber">
            {{ year }}
          </option>
        </select>
        <small *ngIf="!year.invalid || year.untouched">Year</small>
        <div *ngIf="!year.valid && (year.dirty || year.touched)">
          <div style="color: red" [hidden]="!year.errors.required">
            Year is required
          </div>
        </div>
      </div>
    </div>


    <!-- <div class="form-group" formGroupName="myCheckboxGroup">
      <div class="label">Check at least one checkbox <span class="highlight">*</span></div>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" formControlName="myCheckbox1" id="myCheckbox1">
        <label class="custom-control-label" for="myCheckbox1">Happy</label>
      </div>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" formControlName="myCheckbox2" id="myCheckbox2">
        <label class="custom-control-label" for="myCheckbox2">Grouped</label>
      </div>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" formControlName="myCheckbox3" id="myCheckbox3">
        <label class="custom-control-label" for="myCheckbox3">Checkboxes</label>
      </div>

      <div class="invalid-feedback" *ngIf="registrationForm.controls['myCheckboxGroup'].errors && registrationForm.controls['myCheckboxGroup'].errors.requireOneCheckboxToBeChecked">At least one checkbox is required to check</div>
    </div> -->

    <div formGroupName="cbGroup">
      <label for="inputState">Where did you hear about us?</label>
      <br />
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="A Friend or A Colleague"
          formControlName="friendCB"
        />
        <label class="form-check-label" for="defaultCheck1">
          A Friend or A Colleague
        </label>
      </div>
      <div class="form-group">
        <br />
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            formControlName="googleCB"
          />
          <label class="form-check-label" for="defaultCheck1"> Google </label>
        </div>
        <br />
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            formControlName="blogPostCB"
            a
          />
          <label class="form-check-label" for="defaultCheck1">
            Blog Post
          </label>
        </div>
        <br />
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            formControlName="NewsArticleCB"
          />
          <label class="form-check-label" for="defaultCheck1">
            News Article
          </label>

          <small
            *ngIf="
              registrationForm.controls['cbGroup'].errors &&
              registrationForm.controls['cbGroup'].errors.checkBoxValidator
            "
          >
            At least one checkbox is required to check
          </small>
        </div>
      </div>
    </div>

    <h3>Membership Rules</h3>
    <br />
    <p>1. Membership is available to those older than 18 years of age.</p>
    <p>
      2. Membership will be continued until a resignation is received before
      31st December by written notice (e-mail, fax or letter).
    </p>
    <br />
    <div class="form-check">
      <input
        type="checkbox"
        class="form-check-input"
        formControlName="membershipRuleCB"
      />
      <label class="form-check-label" for="exampleCheck1"
        >I agree to the condition above and accept the rules for
        membership.</label
      >
    </div>
    <div *ngIf="!membershipRuleCB.valid">
      <div style="color: red" [hidden]="!membershipRuleCB.errors.required">
        Required
      </div>
    </div>
    <br />

    <h3>Privacy Policy</h3>
    <br />
    <p>
      This Privacy Policy is meant to help you understand what information we
      collect, why we collect it, and how you can update, manage, export, and
      delete your information.
    </p>
    <br />
    <div class="form-check">
      <input
        type="checkbox"
        class="form-check-input"
        formControlName="privacyPolicyCB"
      />
      <label class="form-check-label"
        >I have read, understood, and accepted the PRIVACY POLICY for
        membership.</label
      >
      <div *ngIf="!privacyPolicyCB.valid">
        <div style="color: red" [hidden]="!privacyPolicyCB.errors.required">
          Required
        </div>
      </div>
    </div>
    <br />
    <p style="text-align: center; font-style: italic">
      Once you submit your application, we will contact you immediatly
    </p>
    <br />
    <p style="text-align: center; font-style: italic">Thank you!</p>
    <div style="text-align: center">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!registrationForm.valid"
        data-target="#showInfoModal"
      >
        Submit Application
      </button>
    </div>
    <br />

    
    
  </form>
</div>
